// Where several css values have been used in theme-ui
// we assume they're for different breakpoints.
// Eg: fontSize: (2, 3)
@mixin get-style-breakpoints($key, $values, $theme: $theme) {
  $i: 1;
  $breakpoints: map-get($theme, breakpoints);

  @each $val in $values {
    @if $val == null or $val == 'null' or $val == '' {
      // null means skip this breakpoint.
    } @else {
      @if $i == 1 {
        // No need for media query for mobile-first breakpoint:
        @each $cssProp, $cssVal in get-style($key, $val) {
          #{$cssProp}: #{$cssVal};
        }
      } @else if $i <= length($breakpoints) {
        // Look up width of this breakpoint:
        $breakpoint: nth($breakpoints, $i);

        // Apply style at this breakpoint:
        @media screen and (min-width: $breakpoint) {
          @each $cssProp, $cssVal in get-style($key, $val) {
            #{$cssProp}: #{$cssVal};
          }
        }
      } @else {
        @warn 'get-style-breakpoints(): Expected #{length($breakpoint)} breakpoint values, got #{length($values)}.';
      }
    }

    $i: $i + 1;
  }
}
