@import '../../functions/map-has-key-deep';
@import './theme-walk';

// Some css props cannot be unitless:
$scalesThatRequireUnits: [fontSizes space sizes];

// Private helper to make subsequent code more readable:
// The first item in $keys will be a scale such as colors or fontSizes etc.
@function isUnitsRequiredFor($scale) {
  @return index($scalesThatRequireUnits, $scale) != null;
}

@function theme($keys...) {
  $value: theme-walk($theme, $keys...);

  // font-size etc expect units. Append px if necessary:
  $scale: nth($keys, 1);
  @if isUnitsRequiredFor($scale) and
    type-of($value) ==
    number and
    unitless($value)
  {
    $value: #{$value}px;
  }

  @return $value;
}
