// This is an SCSS implementation of Theme-UI.
// Read about Theme-UI: https://theme-ui.com/theming

// Init helper functions & mixins:
@import './theme-ui';

// Import JSON Theme-UI config into global $theme variable:
// Created using: https://theme-ui.com/customize
// Imported using: https://www.npmjs.com/package/node-sass-json-importer
@import './theme-ui.config.json';

// Parse the imported theme to help track down mistakes early:
$is-theme-valid: validate-theme($theme);

// Exports: $theme, functions & mixins.

/** Examples:

// To get one specific style:
background:colors(primary);
font-family: fonts(heading);

// To get several styles:
@include get-style(heading);

*/
